{%extends "padre.html"%}
    
    {%block archivosCSS%}
    {{parent()}}
        <link rel="stylesheet" href="../css/portada.css" />
    {%endblock%}
    
    {%block scripts%}
        <script src="../js/mapa.js" async></script>
    {%endblock%}

    {%block titulo%}
        {{parent()}} > Home
    {%endblock%}


    {%block logoHeader%}
        <img src="../images/logo.png" class="logo" />
    {%endblock%}


    {%block pagActiva%}
        <a class="active" href="index.php">Home</a>
        <a href="#">Sobre Nosotros</a>
        <a href="#">Contacta</a>
        <a href="#">Adopta!</a>
    {%endblock%}

    {%block cuerpoGrande%}
        <div class="container-productos">
            {%for img in imagenes|slice(0,9) %}
            <div class="producto">
                <h2>{{img.nombreImagen}}</h2>
                <a href={{img.href}}><img src={{img.src}} class="{{img.class}}"></a>
            </div>
            {%endfor%}
        </div>
    {%endblock%}


    {%block firstImageLateral%}
        <h3>Veterinario</h3><br>
        <a href="https://cvgranada.com/" target="_blank"><img src = "../images/veterinario.jpg"> </a>
    {%endblock%}

