<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="author" content="Alberto Llamas" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="../images/favicon.png" />
        <link rel="stylesheet" href="../css/404.css" />
        <title> INFOPETS > Page not found</title>
    </head>

    <div class="main">
        <div class="error">
            <h1>ERROR 404</h1>
            <h2>Pagina no encontrada o no creada todavía. Pulse en el logo para volver a la página de inicio</h2>
            <a href="../index.php"><img src="../images/logo2.png"></a>
        </div>
    </div>
</html>
